.header__logo {
    width: 129px;
}
.header__upper-nav {
    padding: 30px 15px;
}
.header__left-menu, .header__right-menu {
    display: none;
    color: var(--color-light);
}
.header {
    background: url(../img/header-background.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}
.header__baner {
    display: flex;
    flex-direction: column;
    padding: 130px 24px 110px 24px;
}
.header__subtitle {
    font-family: var(--small-font-family);
    color: var(--color-light);
    font-size: 14px;
    font-weight: 400;
}
.header__title {
    margin-top: 20px;
    color: var(--color-light);
    font-family: var(--heading-font-family);
    font-size: 58px;
    font-weight: 400;
    line-height: 63px;
}
.header__txt {
    margin-top: 35px;
    font-family: var(--p-font-family);
    font-size: 20px;
    font-weight: 500px;
    color: var(--color-light);
}
.header__nav {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.header__about {
    font-family: var(--p-font-family);
    color: var(--color-light);
    font-weight: 700;
    box-sizing: border-box;
    background-color: var(--bt-light-color);
    border-radius: 32px;
    padding: 18px 35px;
    margin: 10px;
    transition: 0.4s;
}
.header__menu {
    font-family: var(--p-font-family);
    color: var(--color-light);
    font-weight: 700;
    box-sizing: border-box;
    background-color: var(--bt-dark-color);
    border-radius: 32px;
    padding: 18px 35px;
    margin: 10px;
    transition: 0.4s;
}
@media (min-width: 770px) {
    .header__baner {
        padding: 190px 24px 165px 24px;
    }
    .header__subtitle{
        font-size: 17px;
    }
    .header__title{
        font-size: 69px;
    }
    .header__txt{
        font-size: 20px;
    }
}
@media (min-width: 990px) {
    .header__baner {
        padding: 190px 40px 165px 150px;
    }
    .header__subtitle{
        font-size: 20px;
    }
    .header__title{
        font-size: 80px;
    }
}
.header__about:hover {
    background-color: var(--bt-light-hover-color);
}
.header__menu:hover {
    background-color: var(--bt-dark-hover-color);
}